#encabezado{
    background-color: red;
    color:white;
    height: 200px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

#bienvenida{
    background-color:blue;
    color:white;
    height: 350px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    margin-top: 60px;
}

#ingresar{
    background-color:blue;
    
    color:white;
    height: 450px;
    
    margin-top: 60px;
}

#vinculo{
     color:white;
     
     font-style: oblique;
    
}
